{% extends 'layout.html'%}

{% block title %} Pyetësori për shërbime telefonike {% endblock %}
 
{% block head_include %}
    <link rel="stylesheet" href="/static/css/materialize-stepper.min.css">
    <style>
        .input-multi-display {
            font-weight: 500;
        }
        .font-scale {
            font-size: 120%;
        }
    </style>
{% endblock %}

{% macro input(display, name, value='', type='text') %}
    <div class="input-field col s12">
        <input name="{{ name }}" type="{{ type }}" id="form-field-{{ name }}">
        <label for="form-field-{{ name }}">{{ display }}</label>
    </div>
{% endmacro %}

{% macro input_multi(display, base_name, args, display_classes='') %}
    <div class="col s12">
        {% if display %}
            <p style="margin-top: 16px;" class="input-multi-display {{ display_classes }}">{{ display }}</p>
        {% endif %}
        <div class="row">
            {% for arg in args %}
                {% set name = base_name ~ '_' ~ loop.index %}
                <div class="input-field col s12 m{{ arg[1] }}">
                    <input name="{{ name }}" type="{{ 'text' if arg|length < 3 else arg[2] }}" id="form-field-{{ name }}">
                    <label for="form-field-{{ name }}">{{ arg[0] }}</label>
                </div>
            {% endfor %}
        </div>
    </div>
{% endmacro %}

{% set args_1 = [('Sasia', 2), ('Komente', 10)] %}
{% set args_2 = [('km', 2), ('Mbps', 2), ('Komente', 8)] %}
{% set args_3 = [('Peak', 2), ('Off Peak', 2), ('Komente', 8)] %}
{% set args_4 = [('Specifiko Operatorin', 3),('Peak', 2), ('Off peak', 2),('Komente', 5)] %}
{% block content %}
    <div class="section">
        <div class="row">
            <div class="col s12">
                <form method="POST">
                    <div class="card">
                        <div class="card-content">
                            <ul class="stepper">
                                <li class="step active">
                                    <div class="step-title waves-effect">Të dhënat për ndërmarrjen</div>
                                    <div class="step-content">
                                        <div class="row">
                                            {{ input('Emri i ndërmarrjes', 'emri_ndermarrjes') }}
                                            {{ input('Numri i regjistrimit të biznesit', 'nr_regjistrimit') }}
                                            {{ input('Adresa e ndërmarrjes','adresa') }}
                                            {{ input('Personi Kontaktues', 'personi_kontaktues') }}
                                            {{ input('Telefoni', 'telefoni') }}
                                            {{ input('E-mail adresa', 'email') }}
                                        </div>
                                        <div class="step-actions">
                                          <button class="waves-effect waves-dark btn next-step">VAZHDO</button>
                                        </div>
                                    </div>
                                </li>
                                <li class="step">
                                    <div class="step-title waves-effect">Elementet e rrjetit</div>
                                    <div class="step-content">
                                        <div class="row">
                                            {{ input_multi('Numri i centraleve digjitale (VoIP)', 'nr_centraleve_digjitale', args_1) }}
                                            {{ input_multi('Numri i centraleve analoge', 'nr_centraleve_analoge', args_1) }}
                                            {{ input_multi('Kapaciteti në total i centraleve telefonike', 'kapaciteti_centraleve', args_1) }}
                                        </div>
                                        <div class="step-actions">
                                            <button class="waves-effect waves-dark btn next-step">VAZHDO</button>
                                            <button class="waves-effect waves-dark btn-flat previous-step">PRAPA</button>
                                        </div>
                                    </div>
                                </li>
                                <li class="step">
                                    <div class="step-title waves-effect">Infrastruktura e rrjetit të instaluar</div>
                                    <div class="step-content">
                                        <div class="row">
                                            {{ input_multi('Totali i fibrit optik të instaluar në rrjetin e qasjes (Access Network)', 'fiber_optik_access', 'km1' , 'm2') }}
                                            {{ input_multi('Totali i fibrit optik të instaluar në rrjetin e transmetimit (Core Network)', 'fiber_optik_core', args_2) }}
                                            {{ input_multi('Totali i kabllit koaksial/ çiftoreve të instaluar në rrjetin e qasjes (Access Network)', 'kabell_koaksial_access', args_2) }}
                                            {{ input_multi('Totali i kabllit koaksial/çiftoreve të instaluar në rrjetin e transmetimit (Core Network)', 'kabell_koaksial_core', args_2) }}
                                            {{ input_multi('Lidhje me radiofrekuenca mikrovalore (PTP)', 'lidhja_radiofrekuenca_mikrovalore', args_2) }}
                                        </div>
                                        <div class="step-actions">
                                            <button class="waves-effect waves-dark btn next-step">VAZHDO</button>
                                            <button class="waves-effect waves-dark btn-flat previous-step">PRAPA</button>
                                        </div>
                                    </div>
                                </li>
                                <li class="step">
                                    <div class="step-title waves-effect">Numri i përdoruesve fundor në regjione</div>
                                    <div class="step-content">
                                            {% set regions = [
                                                ('Prishtina', [ 'Prishtina', 'Podujeva', 'Drenasi', 'Fushë Kosova', 'Obiliqi', 'Lipjani', 'Graçanica', 'Novoberda' ]),
                                                ('Mitrovica', [ 'Mitrovica', 'Vushtrria', 'Skenderaji', 'Zubin Potoku', 'Zveçani', 'Leposaviqi', 'Peja' ]),
                                                ('Peja', [ 'Peja', 'Gjakova', 'Deçani', 'Klina', 'Istogu', 'Juniku', 'Rahoveci' ]),
                                                ('Prizreni', [ 'Prizreni', 'Suhareka', 'Dragashi', 'Malisheva', 'Obiliqi', 'Mamusha' ]),
                                                ('Gjilani', [ 'Gjilani', 'Ferizaji', 'Vitia', 'Kamenica', 'Hani i Elezit', 'Kaçaniku', 'Shtime', 'Shtërpc', 'Kllokoti', 'Ranilugu', 'Parteshi' ])
                                            ] %}

                                            {% for region in regions %}
                                                <div class="row">
                                                    <h5 class="center" style="margin-top: 24px">Regjioni: {{ region[0] }}</h5>
                                                    {% for municipality in region[1] %}
                                                        {{ input_multi(municipality, region[0] + '_' + municipality|replace(' ', ''),
                                                            [
                                                                ('Kabina telefonike', 3),
                                                                ('PSTN Individual', 3),
                                                                ('PSTN Biznes', 3),
                                                                ('ISDN Individual', 3),
                                                                ('ISDN Biznes', 3),
                                                                ('VOIP Individual', 3),
                                                                ('VOIP Biznes', 3),
                                                                ('Total', 3),
                                                                ('Komente', 12)
                                                            ], display_classes='font-scale') }}
                                                    {% endfor %}
                                                </div>
                                            {% endfor %}
                                        <div class="step-actions">
                                            <button class="waves-effect waves-dark btn next-step">VAZHDO</button>
                                            <button class="waves-effect waves-dark btn-flat previous-step">PRAPA</button>
                                        </div>
                                    </div>
                                </li>
                                <li class="step">
                                    <div class="step-title waves-effect">Numri i përdoruesve që kanë qasje në shërbime të integruara</div>
                                    <div class="step-content">
                                        <div class="row">
                                            {{ input_multi('Telefoni dhe Interneti', 'telefoni_interneti', args_1) }}
                                            {{ input_multi('Telefoni dhe TV', 'telefoni_tv', args_1) }}
                                            {{ input_multi('Telefoni, Internet dhe TV', 'telefoni_interneti_tv', args_1) }}
                                            {{ input_multi('Tjera', 'tjera', args_1) }}
                                        </div>
                                        <div class="step-actions">
                                            <button class="waves-effect waves-dark btn next-step">VAZHDO</button>
                                            <button class="waves-effect waves-dark btn-flat previous-step">PRAPA</button>
                                        </div>
                                    </div>
                                </li>
                                <li class="step">
                                    <div class="step-title waves-effect">Trafiku (në numrin e thirrjeve)</div>
                                    <div class="step-content">
                                        <div class="row">
                                            {{ input_multi('Origjinimi dhe terminimi i thirrjeve në rrjetin e vet (On net Calls)', 'trafiku_1', args_1) }}
                                            {{ input_multi('Origjinimi i thirrjeve drejt rrjeteve të tjera fikse (outgoing calls)', 'trafiku_2', args_1) }}
                                            {{ input_multi('Origjinimi i thirrjeve drejt rrjeteve mobile (Fixed to Mobile outgoing calls)', 'trafiku_3', args_1) }}
                                            {{ input_multi('Origjinimi i thirrjeve drejt rrjetit nderkombëtare (International outgoing calls)', 'trafiku_4', args_1) }}
                                            {{ input_multi('Terminimi i thirrjeve nga rrjetet tjera fikse (incoming off net calls)', 'trafiku_5', args_1) }}
                                            {{ input_multi('Terminimi i thirrjeve nga rrjetet mobile (Mobile to Fixed incoming)', 'trafiku_6', args_1) }}
                                            {{ input_multi('Terminimi i thirrjeve nga rrjeti nderkombëtare (International incoming calls)', 'trafiku_7', args_1) }}
                                            {{ input_multi('Trafiku Total i telefonit', 'trafiku_8', args_1) }}
                                        </div>
                                        <div class="step-actions">
                                            <button class="waves-effect waves-dark btn next-step">VAZHDO</button>
                                            <button class="waves-effect waves-dark btn-flat previous-step">PRAPA</button>
                                        </div>
                                    </div>
                                </li>
                                <li class="step">
                                    <div class="step-title waves-effect">Trafiku i realizuar(në minuta)</div>
                                    <div class="step-content">
                                        <div class="row">
                                            {{ input_multi('Origjinimi dhe terminimi i thirrjeve në rrjetin e vet (On net Calls)', 'trafiku_realizuar_1', args_1) }}
                                            {{ input_multi('Origjinimi i thirrjeve drejt rrjeteve të tjera fikse (outgoing calls)', 'trafiku_realizuar_2', args_1) }}
                                            {{ input_multi('Origjinimi i thirrjeve drejt rrjeteve mobile (Fixed to Mobile outgoing calls)', 'trafiku_realizuar_3', args_1) }}
                                            {{ input_multi('Origjinimi i thirrjeve drejt  rrjetit nderkombëtare (International outgoing calls)', 'trafiku_realizuar_4', args_1) }}
                                            {{ input_multi('Terminimi i thirrjeve nga rrjetet tjera fikse (incoming off net calls)', 'trafiku_realizuar_5', args_1) }}
                                            {{ input_multi('Terminimi i thirrjeve nga rrjetet mobile (Mobile to Fixed incoming)', 'trafiku_realizuar_6', args_1) }}
                                            {{ input_multi('Terminimi i thirrjeve nga rrjeti nderkombëtare (International incoming calls)', 'trafiku_realizuar_7', args_1) }}
                                            {{ input_multi('Trafiku Total i telefonit', 'trafiku_realizuar_8', args_1) }}
                                            {{input_multi('Kohezgjatja mesatare e thirrjes parapagues(ne sec)','trafiku_realizuar_9',args_1)}}
                                        </div>
                                        <div class="step-actions">
                                            <button class="waves-effect waves-dark btn next-step">VAZHDO</button>
                                            <button class="waves-effect waves-dark btn-flat previous-step">PRAPA</button>
                                        </div>
                                    </div>
                                </li>
                                <li class="step">
                                    <div class="step-title waves-effect">Thirrjet e drejtuar drejt operatorëve dhe vendeve të ndryshme</div>
                                    <div class="step-content">
                                        <div class="row">
                                            {{ input_multi('Thirrje lokale', 'thirrje_lokale', args_3) }}
                                            {{ input_multi('Thirrje kombëtare', 'thirrje_kombetare', args_3) }}
                                            {{ input_multi('Thirrjet drejt rrjeteve tjera fikse', 'thirrjet_rrjeteve_tjera_fikse', args_4) }}
                                            {{ input_multi('Thirrjet drejt rrjetit mobil 1', 'thirrjet_rrjetit_mobil1', args_4) }}
                                            {{ input_multi('Thirrjet drejt rrjetit mobil 2', 'thirrjet_rrjetit_mobil2', args_4) }}
                                            {{ input_multi('Thirrjet drejt rrjetit mobil 3', 'thirrjet_rrjetit_mobil3', args_4) }}
                                            {{ input_multi('Thirrjet drejt rrjetit mobil 4', 'thirrjet_rrjetit_mobil4', args_4) }}
                                            {{ input_multi('Thirrjet drejt Shqiperisë(mobil)', 'shqiperia_mobil', args_3) }}
                                            {{ input_multi('Thirrjet drejt Shqiperisë(fiks)', 'shqiperia', args_3) }}
                                            {{ input_multi('Thirrjet drejt Maqedonisë(mobil)', 'maqedonia_mobil', args_3) }}
                                            {{ input_multi('Thirrjet drejt Maqedonisë(fiks)', 'maqedonia', args_3) }}
                                            {{ input_multi('Thirrjet drejt Malit të Zi(mobil)', 'mal_zi_mobil', args_3) }}
                                            {{ input_multi('Thirrjet drejt Malit të Zi(fiks)', 'mal_zi', args_3) }}
                                            {{ input_multi('Thirrjet drejt Serbisë(mobil)', 'serbi_mobil', args_3) }}
                                            {{ input_multi('Thirrjet drejt Serbisë(fiks)', 'serbi', args_3) }}
                                            {{ input_multi('Thirrjet drejt Kroacisë(mobil)', 'kroaci_mobil', args_3) }}
                                            {{ input_multi('Thirrjet drejt Kroacisë(fiks)', 'kroaci', args_3) }}
                                            {{ input_multi('Thirrjet drejt Bosnje dhe Hercegovinës(bosnje_hercegovina_mobil)', 'trafiku_realizuar_4', args_3) }}
                                            {{ input_multi('Thirrjet drejt Bosnje dhe Hercegovinës(bosnje_hercegovina)', 'trafiku_realizuar_4', args_3) }}
                                            {{ input_multi('Thirrjet drejt Turqisë(mobil)', 'turqi_mobil', args_3) }}
                                            {{ input_multi('Thirrjet drejt Turqisë(fiks)', 'turqi', args_3) }}
                                            {{ input_multi('Thirrjet drejt Gjermanisë(mobil)', 'gjermani_mobil', args_3) }}
                                            {{ input_multi('Thirrjet drejt Gjermanisë(fiks)', 'gjermani', args_3) }}
                                            {{ input_multi('Thirrjet drejt Italisë(mobil)', 'itali_mobil', args_3) }}
                                            {{ input_multi('Thirrjet drejt Italisë(fiks)', 'itali', args_3) }}
                                            {{ input_multi('Thirrjet drejt Francës(mobil)', 'france_mobil', args_3) }}
                                            {{ input_multi('Thirrjet drejt Francës(fiks)', 'france', args_3) }}
                                            {{ input_multi('Thirrjet drejt Zvicrrës(mobil)', 'zvicer_mobil', args_3) }}
                                            {{ input_multi('Thirrjet drejt Zvicrrës(fiks)', 'zvicer', args_3) }}
                                            {{ input_multi('Thirrjet drejt Mbreterisë së Bashkuar(mobil)', 'uk_mobil', args_3) }}
                                            {{ input_multi('Thirrjet drejt Mbreterisë së Bashkuar(fiks)', 'uk', args_3) }}
                                            {{ input_multi('Thirrjet drejt SHBA-së(mobil)', 'usa_mobil', args_3) }}
                                            {{ input_multi('Thirrjet drejt SHBA-së(fiks)', 'usa', args_3) }}
                                            {{ input_multi('Thirrjet drejt Kanadasë(mobil)', 'kanada_mobil', args_3) }}
                                            {{ input_multi('Thirrjet drejt Kanadasë(fiks)', 'kanada', args_3) }}

                                        </div>
                                        <div class="step-actions">
                                            <button class="waves-effect waves-dark btn next-step">VAZHDO</button>
                                            <button class="waves-effect waves-dark btn-flat previous-step">PRAPA</button>
                                        </div>
                                    </div>
                                </li>
                                <li class="step">
                                    <div class="step-title waves-effect">Informacione te tjera rreth cilësisë së shërbimit</div>
                                    <div class="step-content">
                                        <div class="row">
                                            {{ input_multi('Koha mesatare e instalimit të linjës telefonike pas lidhjes së kontratës(ditë)', 'informacione1', args_1) }}
                                            {{ input_multi('Tarifat e kyqjes(në euro)', 'informacione2', args_1) }}
                                            {{ input_multi('Tarifa mujore e qerasë(në euro)', 'informacione3', args_1) }}
                                            {{ input_multi('Numri i defekteve të raportuara', 'informacione4', args_1) }}
                                            {{ input_multi('Numri i ankesave nga përdoruesit për faturim', 'informacione5', args_1) }}
                                            {{ input_multi('Numri i ankesave tjera nga përdoruesit', 'informacione6', args_1) }}
                                            {{ input_multi('Kontributi për shërbime universale',informacione7,args_1) }}
                                            {{input_multi('Sasia e pranuar për shërbime universale','informacione8',args_1)}}
                                        </div>
                                        <div class="step-actions">
                                            <button class="waves-effect waves-dark btn next-step">VAZHDO</button>
                                            <button class="waves-effect waves-dark btn-flat previous-step">PRAPA</button>
                                        </div>
                                    </div>
                                </li>
                                <li class="step">
                                    <div class="step-title waves-effect">Interkoneksioni-Cmimi për 1 minutë komunikim pa TVSH</div>
                                    <div class="step-content">
                                        <div class="row">
                                            {{ input_multi('Kombëtar(fiks-fiks)', 'interkoneksioni1', args_3) }}
                                            {{ input_multi('Kombëtar(mobil-fiks)', 'interkoneksioni2', args_3) }}
                                            {{ input_multi('Ndërkombetar në kombëtar', 'interkoneksioni3', args_3) }}
                                            {{ input_multi('Tranzit kombëtar në kombëtar fiks', 'interkoneksioni4', args_3) }}
                                            {{ input_multi('Tranzit ndërkombëtar në kombëtar', 'interkoneksioni5', args_3) }}
                                        </div>
                                        <div class="step-actions">
                                            <button class="waves-effect waves-dark btn next-step">VAZHDO</button>
                                            <button class="waves-effect waves-dark btn-flat previous-step">PRAPA</button>
                                        </div>
                                    </div>
                                </li>
                                <li class="step">
                                    <div class="step-title waves-effect">Transferimi i të dhënava</div>
                                    <div class="step-content">
                                        <div class="row">
                                            {{ input_multi('Sasia e të dhënave të transferuar në trafikun kombëtar', 'transferimi1', args_1) }}
                                            {{ input_multi('Sasia e të dhënave të transferuar në trafikun ndërkombëtar', 'transferimi2', args_1) }}
                                            {{ input_multi('Shuma totale e të dhënave të transferuara', 'transferimi3', args_1) }}
                                        </div>
                                        <div class="step-actions">
                                            <button class="waves-effect waves-dark btn next-step">VAZHDO</button>
                                            <button class="waves-effect waves-dark btn-flat previous-step">PRAPA</button>
                                        </div>
                                    </div>
                                </li>
                                <li class="step">
                                    <div class="step-title waves-effect">Të hyrat</div>
                                    <div class="step-content">
                                        <div class="row">
                                            {{ input_multi('Të ardhurat nga trafiku në rrjetin e vet', 'teardhurat1', args_1) }}
                                            {{ input_multi('Të ardhurat nga trafiku në rrjete të tjera të caktuar(me shumice-wholesale)',teardhurat2, args_1) }}
                                            {{ input_multi('Të ardhurat nga trafiku në rrjete të tjera të caktuar(pakice-retail)',teardhurat3, args_1) }}
                                            {{ input_multi('Te ardhurat nga trafiku në rrjete të tjera mobile(pakice-retail)', 'teardhurat4', args_1) }}
                                            {{ input_multi('Të ardhurat nga trafiku ndërkombëtar telefonik(me shumicë-wholesale)', 'teardhurat5', args_1) }}
                                            {{ input_multi('Të ardhurat nga trafiku ndërkombetar telefonik(pakicë-retail)', 'teardhurat6', args_1) }}
                                            {{ input_multi('Të ardhurat nga ofruesit e shërbimeve me cmime të vecantë në kosto', 'teardhurat7', args_1) }}
                                            {{ input_multi('Te ardhurat nga (Dial up,qasje në internet)',teardhurat8,args_1) }}
                                            {{input_multi('Te ardhurat nga ofruesit e shërbimeve VoIP','teardhurat9',args_1)}}
                                            {{input_multi('Te ardhurat të tjera','teardhurat10',args_1)}}
                                            {{input_multi('Te ardhurat gjithsej','teardhurat11',args_1)}}
                                        </div>
                                        <div class="step-actions">
                                            <button class="waves-effect waves-dark btn next-step">VAZHDO</button>
                                            <button class="waves-effect waves-dark btn-flat previous-step">PRAPA</button>
                                        </div>
                                    </div>
                                </li>
                                <li class="step">
                                    <div class="step-title waves-effect">Fitimi para tatimit</div>
                                    <div class="step-content">
                                        <div class="row">
                                            {{ input_multi('EBIT', 'ebit', args_1) }}
                                            {{ input_multi('EBITDA', 'ebitda', args_1) }}
                                            {{ input_multi('ROCE (%)', 'roce', args_1) }}
                                            {{ input_multi('EBITDA margina (%)', 'ebitda_margina', args_1) }}
                                            {{ input_multi('EBIT margina (%)', 'ebit_margina', args_1) }}
                                        </div>
                                        <div class="step-actions">
                                            <button class="waves-effect waves-dark btn next-step">VAZHDO</button>
                                            <button class="waves-effect waves-dark btn-flat previous-step">PRAPA</button>
                                        </div>
                                    </div>
                                </li>
                                <li class="step">
                                    <div class="step-title waves-effect">Shpenzimet(euro)</div>
                                    <div class="step-content">
                                        <div class="row">
                                            {{ input_multi('Shpenzimet totale', 'shpenzimet_totale', args_1) }}
                                        </div>
                                        <div class="step-actions">
                                            <button class="waves-effect waves-dark btn next-step">VAZHDO</button>
                                            <button class="waves-effect waves-dark btn-flat previous-step">PRAPA</button>
                                        </div>
                                    </div>
                                </li>
                                <li class="step">
                                    <div class="step-title waves-effect">Zhvleftsimi dhe Amortizimi</div>
                                    <div class="step-content">
                                        <div class="row">
                                            {{ input_multi('Zhvleftsimi','zhvleftsimi', args_1) }}
                                            {{ input_multi('Amortizimi','amortizimi', args_1) }}
                                        </div>
                                        <div class="step-actions">
                                            <button class="waves-effect waves-dark btn next-step">VAZHDO</button>
                                            <button class="waves-effect waves-dark btn-flat previous-step">PRAPA</button>
                                        </div>
                                    </div>
                                </li>
                                <li class="step">
                                    <div class="step-title waves-effect">Investimet në shërbime dhe infrastrukturën telekomunikuese</div>
                                    <div class="step-content">
                                        <div class="row">
                                            {{ input_multi('Investime në shërbime dhe infrastrukturë-rrjetin backbone', 'investime1', args_1) }}
                                            {{ input_multi('Investime në shërbime dhe infrastrukturë-rrjetin e qasjes','investime2', args_1) }}
                                            {{ input_multi('Investime në hulumtime dhe zhvillim të produkteve', 'investime3',args_1) }}
                                            {{ input_multi('Shpenzimet në marketing', 'shpenzime1', args_1) }}
                                            {{ input_multi('Shpenzime tjera', 'shpenzime2',args_1) }}
                                            {{ input_multi('Totali', 'shpenzime3',args_1) }}
                                        </div>
                                        <div class="step-actions">
                                            <button class="waves-effect waves-dark btn next-step">VAZHDO</button>
                                            <button class="waves-effect waves-dark btn-flat previous-step">PRAPA</button>
                                        </div>
                                    </div>
                                </li>
                                <li class="step">
                                    <div class="step-title waves-effect">Të dhënat mbi numrin e punëtorëve</div>
                                    <div class="step-content">
                                        <div class="row">
                                            {{ input_multi('Numri i punëtoreve me orar te plotë pune', 'punetoret1', args_1) }}
                                            {{ input_multi('Numri i punëtorëve me orar të pjesëshem pune', 'punetoret2', args_1) }}
                                            {{ input_multi('Totali i të punësuarve','punetoret3', args_1) }}
                                        </div>
                                        <div class="step-actions">
                                            <button class="btn waves-effect waves-light " type="submit" name="action">DËRGO<i class="material-icons right">send</i></button>
                                            <button class="waves-effect waves-dark btn-flat previous-step">PRAPA</button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

{% endblock %}
{% block script %}
    <script type="text/javascript" src="/static/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/static/js/materialize-stepper.min.js"></script>
    <script>
        $(function () { $('.stepper').activateStepper(); });
    </script>
{% endblock %}
